@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--prmClr:dodgerblue;
	--whte:white;
	--blck:rgb(12, 12, 12);
}

body{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

input{
		font-family: 'Montserrat', sans-serif;
}

//header
header{
	width:100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 5px;
position: fixed;
top: 0;
background: var(--whte);
z-index: 1;

.toprofile{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	img{
		width: 50px;
		height: 50px;
		object-fit: cover;
		margin-right: 3px;
			box-shadow:-5px 5px 20px silver;
			border-radius: 50%;
	//		border: 2px solid var(--whte);
	}
	p{
		font-size: 0.9rem;
	}
}

.logo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	h1{
		color: var(--prmClr);
		font-family: 'lobster';
	}
}
.menu-container{
	position: relative;
	width: 100%;
	.menu-but{
		width: 100%;
		display: flex;
		justify-content:flex-end;
		align-items: center;
		img{
			width: 30px;
		}
	}
}
}
//main
main{
	width: 100%;
	height: 100%;
}

//post-wrpper
.post-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 100px 0 20px 0;
	padding: 0 15px;


	.post{
		width: 100%;
		height: auto;
		border: 1px solid  silver;
		border-radius: 30px;
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 0 8px;
margin: 10px 0;

.post-header{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0 15px 0;

	.user-info{
		width: 80%;
		display: flex;
		align-items: center;
		img{
			width: 45px;
			height: 45px;
			object-fit: cover;
			margin-right: 3px;
				box-shadow:-5px 5px 20px silver;
				border-radius: 50%;
		}
		.basic{
			.username{
				color: silver;
			span{
					font-weight: bold;
				font-size: 1.2rem;
				text-transform: capitalize;
				color: var(--prmClr);
			}
			}
			.date{
				font-size: 0.67rem;
				
			}
		}
	}
	.far-menu{
		position: relative;
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		img{
			width: 20px;
			height: 20px;
		}
		.report{
			position: absolute;
			transition: .3s;
			background: var(--prmClr);
			padding: 5px;
			cursor: pointer;
			display: none;
			&:hover{
				background: red;
			}
			a{
				text-decoration: none;
						color: var(--whte);
			}
		}
		&:hover>.report{
			display: block;
		}
	}
}

.post-text{
	font-size: 0.9rem;
}
.post-pic{
	margin: 9px 0;
	width: 100%;
	height: 240px;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.action-bar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9rem;
.like-action{
	display: flex;
	align-items: center;
}
	input{
padding: 2px 8px;
background: var(--prmClr);
color: var(--whte);
border: 1px solid var(--prmClr);
border-radius: 3px;
text-transform: capitalize;
transition: .3s;
margin-right: 3px;
&:hover{
	border: 1px solid var(--whte);
}
	}
.dis{
	background: var(--blck);
	color: var(--whte);
padding: 0 2px;
margin-right: 2px;
border-radius: 5px;
font-size: 0.8rem;
}
}

.comment-section{
	width: 100%;
	max-height: 200px;
	overflow-y: scroll;
	padding: 10px 5px 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.comment{
		width: 100%;
		border: 1px solid var(--prmClr);
		position: relative;
		padding: 0 5px;
		border-radius: 20px;
		margin: 5px 0;

		.user{
			width: 100%;
			display: flex;
			align-items: center;
			margin: 2px 0;
			.username{
				font-weight: bolder;
				text-transform: capitalize;
			}
		}
	
		img{
			width: 35px;
			height: 35px;
			object-fit: cover;
			margin: 0 5px 0 0;
			border-radius: 10px;
		}
		.del-com{
			position: absolute;
			right: 10px;
			font-weight: bolder;
			color: red;
			font-size: 1.5rem;
		}
		.com{
			font-size: 0.6rem;
			top: 10px;
		}
		.com-content{
			margin: 3px 0;
			padding-left: 10px;
			font-size: .8rem;
		}
	}

	&::-webkit-scrollbar{
		width: 3px;
	}

	&::-webkit-scrollbar-track{
		border-radius: 80px;
	}

	&::-webkit-scrollbar-thumb{
		background: var(--prmClr);
		border-radius: 300px;
	}
}

.post-comment{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
input[type="submit"]{
	padding: 3px 7px;
background: var(--prmClr);
color: var(--whte);
border: 1px solid var(--prmClr);
border-radius: 4px;
text-transform: capitalize;
transition: .3s;
&:hover{
	border: 1px solid var(--whte);
}
}
input[type="text"]{
	padding: 3px ;
	border-radius: 8px;
	border: 1px solid var(--blck);
	margin-right: 3px;
	transition: .3s;
	&:focus{
		outline: none;
		border: 1px solid var(--prmClr);
	}
}
}

	}
}

//end of content spinner
	.loadspinner{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
margin-bottom: 100px;
		.spinner{
			width: 50px;
			height: 50px;
			border-left: 2px solid var(--prmClr);
			border-radius: 50%;
			margin: 0 10px;
			animation: spin 3s infinite;
				
			@keyframes spin {
				0%{
transform: rotate(0deg);
				}
				100%{
transform: rotate(360deg);
				}
			}
		}
	
	}

//action 
.create-post{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 80%;
	right: 20px;
	z-index: 1;

	img{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-bottom: 3px;
	}
	.create-text{
		font-size: 0.7rem;
	}

}

//discover page styling
.discover-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 180px 0 50px 0;


	.person{
		width: 175px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		border: 1px solid var(--prmClr);
		border-radius: 10px;
		padding: 5px;
		margin: 10px 5px;

		.profile{
			width: 100%;
			margin: 8px 0;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		input{
			padding: 5px 10px;
			background: var(--prmClr);
			color: var(--whte);
			border: none;
			margin: 8px 0;
		}
	}

	.search{
position: absolute;
top: -60px;
left: 10px;
input{
	padding: 5px 10px;
	border: 1px solid silver;
	&:focus{
		outline: none;
	}
}
	input[type="submit"]{
		background: var(--prmClr);
		color: var(--whte);
		border: none;
	}
	}
}


//blog page
.blog-wrapper{
	width: 100%;
	height: 100%;
	margin: 60px 0 20px 0;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
flex-direction: column;

.blog-post{
	position: relative;
	width: 100%;
	height: 240px;
	margin: 15px 0;

.blog-img{
	width: 100%;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.author{
	position: absolute;
	top: 0;
	left: 0;
	background:  rgba(30, 143, 255, 0.253);
	padding-right: 2px;
	img{
		width: 40px;
		object-fit: cover;
		margin: 0 5px 0 0;
	}
	.aut{
		display: flex;
		align-items: center;

		.name{
			color: var(--whte);
		}
	}
}

.title{
	position: absolute;
	bottom: 28px;
	color: var(--whte);	
	width: 100%;
	background: rgba(30, 143, 255, 0.253);
.h2{
text-align: justify;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  overflow: hidden;
	line-height: 1.1;
	padding: 2px ;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}
}
.stats{
	position: absolute;
	bottom: -4px;
	width: 100%;

	.buts{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;

.likes{
	color: var(--whte);
	font-size: 0.8rem;
	span{
background: var(--prmClr);
padding: 2px;
	}
}
.edit{
	a{
		text-decoration: none;
		color: var(--prmClr);
		font-weight: bold;
		background: var(--whte);
		padding: 2px;
		font-size: 0.8rem;
	}
}
.read{
	a{
		text-decoration: none;
		color: white;
		background: var(--prmClr);
		padding: 5px;
		font-size: 1rem;
	}
}

	}
}

}

}

//reading full article 
.full-article{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 100px 0 30px 0;
	.back{
		a{
			text-decoration: none;
			color: var(--whte);
			padding: 5px 10px;
			background: var(--prmClr);
		}
	}
	.title{
		width: 100%;
		text-align: center;
		font-weight: bold;
		margin: 20px 0;
	}
	.blog-img{
		width: 100%;
		height: 240px;
		margin: 20px 0;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.blog-content{
		width: 100%;
		padding: 20px ;
	}

	.credit{
		padding-left: 30px;
		img{
			width: 35px;
			margin: 5px;
		}
		.aut{
			display: flex;
			align-items: center;
			.name{
				font-style: bold;
			}
		}
	}

	.like{
position: fixed;
bottom: 100px;
left: 10px;
input{
	padding: 5px 15px;
	color: var(--whte);
	background: var(--prmClr);
	border: none;
	font-size: 1.2rem;
	border-radius: 5px;
}
	}
}

//events
.head{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 80px 0 0 0;
	z-index: -1;
	background: var(--whte);
	padding-top: 20px;
.other{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

	a{
		color: var(--prmClr);
		text-decoration: none;
		font-size: 1rem;
	}
	.active{
			border-bottom: 4px solid;
	}
}
.events-wrapper{
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	margin: 130px 0 20px 0;


	.event{
		width: 100%;
		border: 1px solid silver;
		padding: 10px ;
		border-radius: 10px;
		margin: 15px 0;
		font-size: 0.8rem;
		h3{
			text-align: center;
		}
		.posted{
			display: flex;
			align-items: center;
			margin: 10px 0;

			img{
				width: 30px;
				margin: 3px ;
			}
		}
		.details{
			border: 1px solid silver;
			border-radius: 10px;
			padding: 5px;

			span{
				color: var(--prmClr);
				margin-left: 10px;
			}
		}
		.thesis{
			margin: 10px 0;
			.abt{
				color: var(--prmClr);
				margin: 10px 0;
				font-weight: bolder;
			}
		}
	}
}

//trending tab
.trending-wrapper{
	width: 100%;
	padding: 10px ;
	margin: 130px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

.trendy{
width: 100%;
margin: 20px 0;

h3{
	text-align: center;
	padding: 8px 0;
	color: var(--prmClr);
	border: 1px solid var(--prmClr);
}

.trend{
	position: relative;
	width: 100%;
	height: 300px;
	margin: 20px 0;
	border: 1px solid silver;
	border-radius: 10px;
	overflow: hidden;

	.pic{
width: 100%;
height: 100%;

img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
	}

.info{
	position: absolute;
	top: 0;

	p{
		background: var(--prmClr);
		padding: 5px ;
		margin: 3px 0;
		color: var(--whte);
	}
}	

}
}

}


//profile page
.header{
	width: 100%;
	
	.coverpic{
		width: 100%;
		background: silver;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;

		h1{
			color: grey;
			font-family: 'lobster',sans-serif;
		}
	}
	.picment{
		width: 100%;
		height: 50px;
		position: relative;
		padding: 0 10px;
		img{
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 20px;
			border: 2px solid var(--whte);
			margin-top: -30px;
		}

		.menu{
		.dots{
			width: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 0;
			top: 20px;
			
				.dot{
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: var(--prmClr);
				margin: 0 3px;
			}
		}
		.ul{
			display: none;
			position: absolute;
			right: 10px;
			top: 20px;
			ul{
				li{
				
					list-style: none;
						background: var(--prmClr);
						padding: 5px;
						color: var(--whte);
						text-decoration: none;
						transition: .3s;
						cursor: pointer;
						&:hover{
							background: var(--whte);
							color: var(--prmClr);
						}
				}
			}
		}
		}
@media(min-width:998px){
		.menu{
		&:hover>.ul{
			display: block;
		}
		}
}
	}

.user-details{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;

	h1{
		text-transform: capitalize;
		font-size: 1.5rem;
	}
	.username{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 4px 0;
		span{
			color: silver;
		}
		.join{
			font-size: 0.6rem;
		}
	}
	.follower{
		span{
			font-weight: bolder;
			color: var(--prmClr);
		}
	}
}

.navbar{
	width: 40%;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	margin: 20px 0;
	
a{
	text-decoration: none;
}
.active{
		text-decoration: none;
		color: var(--prmClr);
		border-bottom: 1px solid var(--prmClr);
	}
	.nav{
		position: relative;
		margin: 0 15px;
		a{
			text-decoration: none;
			color: var(--blck);
		}
		.active{
			border-bottom: 1px solid var(--prmClr);
			color: var(--prmClr);
		}
		.number{
			position: absolute;
			top: 0;
			right: -16px;
			background: grey;
			color: var(--whte);
			padding: 1px 3px;
		}
	}
}
}

.profile-info{
	width: 100%;
	padding: 20px 10px;

	h2{
		color: var(--prmClr);
	}
	.about{
		margin-bottom: 20px;
		.abt-info{
			width: 100%;
			height: 200px;
			padding: 10px;
			border: 1px solid silver;
			border-radius: 10px;
			margin: 10px 0 0 0;
			display: grid;
			place-content: center;
		}
	}

	.other-info{
		.bits{
			margin: 10px 0;
			border: 1px solid silver;
			padding: 15px 5px;
			border-radius: 10px;
			color: gray;

			span{
				color: var(--blck);
			}
		}
	}
}


//edit profile/createvent
#showprofile , #createvent{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	backdrop-filter: blur(5px);
	background: rgba(4, 43, 82, 0.452);
	color: white;
	overflow-y: scroll;
	padding: 20px;
	animation: slidedown .3s;

	@keyframes slidedown{
		from{
			transform: translateY(-300px);
		}
		to{
			transform: translateY(0);
		}
	}

#close,#close-event{
	float: right;
	font-size: 1.4rem;
	width: 24px;
	height:24px;
	background: var(--clr2);
	color: var(--clr);
	text-align: center;
	border-radius: 5px;
	cursor: pointer;

	&:hover{
		color: red;
	}
}

	form{
legend{
	font-size: 2rem;
	margin-bottom: 20px;
}
.group{
	margin:20px 0 0 0;
	position: relative;
	label{
		font-size: 1.2rem;
	}
	textarea{
		max-width: 80%;
		border-radius: 10px;
		margin-top: 3px;
		padding: 5px;
&:focus{
		outline: none;
		border: 1px solid var(--prmClr);
}
	}
	input{
		margin: 0 10px;
		border-radius: 6px;
		padding: 5px;
		border: 1px solid var(--whte);
		&:focus{
			outline: none;
			border: 1px solid var(--prmClr);
		}
	}
}
	}
	input[type="submit"]{
		background: var(--prmClr);
		padding: 5px 10px;
		color: var(--whte);
		border-radius: 5px;
		margin: 10px 40px;
		border: none;
	}
	input[type="file"]{
		position: absolute;
		right: 0;
		left: 100px;
		top: 28px;
	}
}

.profiledit{
	animation: slideup .3s;

	@keyframes slideup{
		from{
			transform: translateY(0);
		}
		to{
			transform: translateY(-300px);
		}
	}
}

.imgcontainer{
	img{
		width: 100px;
		max-height: 50px;
		object-fit: contain;
	}
}

//back to homepage button
.bavk{
	position: fixed;
width: 100%;
bottom: 10px;
.bk{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		background: var(--prmClr);
		width: 45px;
		height: 45px;
			display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	}
}
}


//Create new post styling
.mode{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(3, 3, 3, 0.5);
	backdrop-filter: blur(5px);
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	color: var(--whte);
	overflow: auto;
	padding:10px 10px;
	.post-modal{
		width: 100%;
		height: 100%;
		padding: 0 5px;
		border-radius: 30px;

button{
	background: var(--prmClr);
	color: var(--whte);
	padding: 5px 10px;
	border: 2px solid var(--whte);
	border-radius: 5px;
	margin: 5px 0;
	cursor: pointer;
}
.imgcontainer{
	width: 100%;
	height: 200px;
	display: grid;
	place-items: center;
	position: relative;

	.close-modal{
		font-size: 2rem;
		cursor: pointer;
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 10px;
		color: var(--whte);
		&:hover,&:focus{
			color: red;
		}
	}
img{
width: 100%;
height: 100%;
border-radius: 5%;
margin: 5px 0;
box-shadow: -2px 2px 20px silver;
}
}

.container-post{

	.heading{
		padding: 10px 4px;
		border-radius: 10px;
		border: 1px solid var(--whte);
		margin-bottom: 10px;
		&:focus{
			outline: none;
			border: 1px solid var(--prmClr);
			border-radius: 10px;
		}
	}
	textarea{
		border-radius: 10px;
		border: 1px solid var(--whte);
		padding: 5px;
		width: 100%;
		height: 120px;
		overflow-y: scroll;
		word-wrap: break-word;
	font-family: 'Montserrat', sans-serif;
	
		&::-webkit-scrollbar{
			width: 10px;
		}
		&:focus{
			outline: none;
			border: 1px solid var(--prmClr);
		}
	}
	.image{
		margin:  10px 0 0 20px;
		border-radius: 5px;
		border: 1px solid var(--btn-clr);
	}
}

.cancel{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;

	#cancelpost{
		background: red;
	}
}
}
}

//bootm bar navigation
.bar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--whte);
	padding: 0 5px;

	img{
		width: 20px;
	}
	p{
		font-size: 0.6rem;
	}
	.tab{
		width: 100%;
		height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5px 0;
	transition: .3s;

		&:hover{
			background: var(--prmClr);
			color: var(--whte);
		}
	}
	#createpost{
		background: var(--prmClr);
		color: var(--whte);
	}
}


//menu styling for small devices
.sidenav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
right: 0;
	background: var(--prmClr);
	overflow-x: hidden;
	transition: .5s;
	padding-top: 80px;

	a{
		padding:  8px 8px 8px 32px;
		text-decoration: none;
		font-size: 0.89rem;
		color: var(--whte);
		display: block;
		transition: .3s;
		
		&:hover{
			color: wheat;
		}
		&::before{
			content: '\2023 ';

		}

	}
	.closebtn{
		position: absolute;
		top: 0;
		right: 8px;
		font-size: 36px;

		&::before{
			content: "";
		}
	}
	.navlogo{
		position: absolute;
	top: 20px;
		left: 5px;
		color: var(--whte);
		font-family: 'lobster';
		font-size: 1rem;
	}
	.creds{
		width: 100%;
	position: absolute;
bottom: 10px;
		left: 5px;
		color: var(--whte);
		font-size: 0.67rem;
		.dev{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
				flex-direction: column;

				.name{
	font-family: 'lobster';
				}
		}
	}
}

//loader

.loader{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--whte);
	z-index: 6;
	overflow: hidden;

	.cont{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		h1{
	animation: scaleing  3s 3  linear forwards;
		font-family: 'Lobster', cursive;
		}
		p{
			position: absolute;
			bottom: 60px;
		}
	}

}
@keyframes scaleing{
0%{
		transform: scale(1.2);
	}
	50%{
		transform: scale(1.5);
	}
		100%{
		transform: scale(1.2);
	}
}

//media query
@media(min-width:968px){
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	main{
		width: 50%;
	}
	
//events
.head{
	width: 80%;
	z-index: 1;
}
}